.App {
  text-align: center;
}

body {
  padding: 30px 0;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 75px;
  color: #ca1d1d;
  text-align: center;
}

@media (min-width: 768px) {
  .body, .App {
    display: flex;
    text-align: center;
  }

  #side-menu-toggle {
    display: none;
  }

  h1 {
    width: 30rem;
    text-align: center;
  }
}